body {
    font-family: "Oswald", sans-serif;
    background: black;
    /* Pattern from https://www.heropatterns.com/ */
    color: #1e272e;
    color: #fff;
    font-size: 16px;
    display: flex;
}
ul{
    list-style: none;
}
.main {
    margin-top: 100px;
    height: 600px;
    width: 1400px;
    float: left;
    display: inline;
    background-color:white;
}
.nav-mainMenu {
    background-color: blue;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-mainMenu ul {
    display: flex;
}
.nav-mainMenu ul li a {
    padding: 2px;
}
.nav-mainMenu ul li {
    padding: 50px;
}
.nav-mainMenu ul li a:hover {
    border-bottom: 2px solid #fff;
}
.nav-mainMenu ul.nav-ul-mainMenu{
    flex: 1;
}
.nav-main {
    background-color:#283E51 ;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav-brand {
    width: 50px;
}
  /* Navbar Left */
.nav-main ul {
    display: flex;
}
.nav-main ul li a {
    padding: 2px;
    color: aqua;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 200px;
}
.aside{
    height: 500px;
    width: 200px;
    float: left;
    display: inline;
}
.section1{
    height: 200px;
    background-image: url("img/fondoMar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.productSection{
    height: 200px;
}
.footer{
    height: 80px;
    background-color: #4B79A1;
}
.button {
    padding: 10 22 10 22;
    margin-top: 50;
    border-width: 2;
    background-color: #2F58CD;
    font-family: "Lucida Console", Helvetica, Arial, sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

.button:hover {
    background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    background-color: green;
    text-fill: #1d1d1d;
}
.button:default:hover {
    background-color: derive(focus-color,30%);
}